body {
    background-color: rgb(21,21,21);
}

.ac-orange-color {
    color: #C86142;
}

/*Custom CSS for nav*/
.ac-link {
    color: #C86142;
}

.ac-link:hover {
    color: #A01F12;
}

.nav-link {
    color: #6c757d;
}

.nav-link:hover {
    color: #f8f9fa;
}

.nav-link:focus {
    color: #f8f9fa;
}
.active {
    color: #f8f9fa;
}

/*Font spacing and height*/
.ac-intro-name {
    font-weight:500;
}

.ac-nav-item {
    font-weight:500;
    letter-spacing: 0.3rem;
}

.ac-intro-summary {
    line-height: 1.8rem;
}

.ac-project-card-lang-size {
    font-size: 0.8rem;
    font-weight: 500;
}
.ac-project-card-title-weight {
    font-weight: 500;
}

.ac-project-card-lang-spacing {
    letter-spacing: 0.3rem;
}
.ac-project-card-title-spacing {
    letter-spacing: 0.2rem;
}

.ac-talks-card-lang-size {
    font-size: 0.8rem;
    font-weight: 500;
}

.ac-talks-card-lang-spacing {
    letter-spacing: 0.3rem;
}

.ac-talks-card-size {
    height: 550px;
}


.ac-hr {
    background-color: #f8f9fa;
}

.ac-w-15 {
    width:15%!important;
}

.ac-w-10 {
    width: 10% !important;
}

.ac-main-wrapper {
    width: 100vw;
    height: 100vh;
}

.ac-intro-wrapper {
    height: 100vh;
}

.ac-content-wrapper {
    height: 100vh;
    overflow: auto;
}

.ac-card-bgcolor {
    background-color: rgb(32, 32, 34);
}

/*Phone sizes portrait*/
@media (min-width: 575px) {

}

/*Phone sizes landscape*/
@media (min-width: 768px) {

}

/*Tablet sizes*/
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/*Computer sizes*/
@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}