body {
    background-color: rgb(21,21,21);
}

.ac-orange-color {
    color: #C86142;
}

/*Custom CSS for nav*/
.ac-link {
    color: #C86142;
}

.ac-link:hover {
    color: #A01F12;
}

.nav-link {
    color: #6c757d;
}

.nav-link:hover {
    color: #f8f9fa;
}

.nav-link:focus {
    color: #f8f9fa;
}
.active {
    color: #f8f9fa;
}

.ac-hr {
    background-color: #f8f9fa;
}

.ac-w-15 {
    width:15%!important;
}

.ac-w-10 {
    width: 10% !important;
}

.ac-main-wrapper {
    width: 100vw;
    height: 100vh;
}

.ac-intro-wrapper {
    height: 100vh;
}

.ac-content-wrapper {
    height: 100vh;
    overflow: auto;
}

.ac-card-bgcolor {
    background-color: rgb(32, 32, 34);
}

