.ac-project-card-lang-size {
    font-size: 0.8rem;
    font-weight: 500;
}

.ac-project-card-lang-spacing {
    letter-spacing: 0.3rem;
}

.ac-project-card-title-weight {
    font-weight: 500;
}

.ac-project-card-title-spacing {
    letter-spacing: 0.2rem;
}
