/*Phone sizes portrait*/
@media (min-width: 575px) {
}

/*Phone sizes landscape*/
@media (min-width: 768px) {
}

/*Tablet sizes*/
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/*Computer sizes*/
@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
