.ac-talks-card-lang-font {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.ac-talks-card-size {
    height: 550px;
}

.ac-talks-card-topic-font {
    font-size:1.8rem;
}

.ac-card-bgcolor {
    background-color: rgb(32, 32, 34);

}

/*Phone sizes portrait*/
@media (min-width: 575px) {
    .ac-talks-card-lang-font {
        font-size: 0.7rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
    }

    .ac-talks-card-topic-font {
        font-size: 1.9rem;
    }
}

/*Phone sizes landscape*/
@media (min-width: 768px) {
    .ac-talks-card-lang-font {
        font-size: 0.7rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
    }

    .ac-talks-card-topic-font {
        font-size: 2rem;
    }
}

/*Tablet sizes*/
@media (min-width: 992px) {
    .ac-talks-card-lang-font {
        font-size: 0.7rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
    }

    .ac-talks-card-topic-font {
        font-size: 2rem;
    }
}

/*Computer sizes*/
@media (min-width: 1200px) {
    .ac-talks-card-lang-font {
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
    }

    .ac-talks-card-topic-font {
        font-size: 3rem;
    }
}
